<nav>
  <div class="site-title">
    <a href="/"><h1>Djerba wonders</h1></a>
    
  </div>
  <ul class="links">
    <li><a href="/beaches">Beaches</a></li>
    <li><a href="/history">History</a></li>
    <li><a href="/culture">Culture</a></li>
    
  </ul>
</nav>